<p id="notice"><%= notice %></p>

<h1>Checks</h1>


<table class = "table">
  <thead>
    <tr>
      <th><a href="?order=to">To</th>
      <th><a href="?order=from">From</th>
      <th><a href="?order=mailed_from">Mailed From</th>
      <th><a href="?order=value">Value</th>
      <th><a href="?order=date_received">Date Received</th>
      <th><a href="?order=date_released">Date Released</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
   
    <% @checks.each do |check| %>
      <tr>
        <td><%= check.to %></td>
        <td><%= check.from %></td>
        <td><%= check.mailed_from %></td>
        <td><%= check.value %></td>
        <td><%= check.date_received %></td>
        <td><%= check.date_released %></td>
        <td><%= link_to 'Show', check %></td>
        <td><%= link_to 'Edit', edit_check_path(check) %></td>
        <td><%= link_to 'Destroy', check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    
    <% end %>

  </tbody>
 
</table>

<br>
<%= paginate @checks %>

<%= link_to 'New Check', new_check_path %>



